In [3]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import urllib
from collections import Counter

In [4]:
# using Python 3.5 for this project
import sys
print(sys.version)

3.5.2 |Continuum Analytics, Inc.| (default, Jul  2 2016, 17:52:12)
[GCC 4.2.1 Compatible Apple LLVM 4.2 (clang-425.0.28)]

# Flow

- [Download and preprocess county-level results for 2012](#Guardian-data)
- [Download and preprocess county-level results for 2016](#Townhall-data)
- [Downlaod and preprocess county-level metadata](#Census-data)
- [Combine datasets](#Combine-data)
- [Export county-level results](#Export-data)

## Guardian data

In [20]:
# import Guardian data
# https://www.theguardian.com/news/datablog/2012/nov/07/us-2012-election-county-results-download#data
# NOTE: xlrd package needed (not installed by deafault) 
# to read data and format information from older Excel files (ie: .xls)
# get all data within the 'FULL DATA' worksheet and pass it into a DataFrame
guardian_full = pd.read_excel('http://image.guardian.co.uk/sys-files/Guardian/documents/2012/11/14/US_elect_county.xls',
                     sheetname = 'FULL DATA',
                     header = 0,
                     index_col=None,
                     convert_float = True,
                     converters={'FIPS Code':str},
                     parse_cols = "A, D, E, K, M, T, Y, AF, AK, AR, AW, BD, BI, BP")
                     
guardian_full.head()

WARNING *** file size (3825153) not 512 + multiple of sector size (512)

,State Postal,FIPS Code,County Name,TOTAL VOTES CAST,Party,Votes,Party.1,Votes.1,Party.2,Votes.2,Party.3,Votes.3,Party.4,Votes.4
0,AK,0,Alaska,220596,Dem,91696,GOP,121234,Lib,5539.0,Grn,2127.0,NaN,NaN
1,AK,2000,Alaska,220596,Dem,91696,GOP,121234,Lib,5539.0,Grn,2127.0,NaN,NaN
2,AL,0,Alabama,2064699,Dem,793620,GOP,1252453,Ind,2961.0,Ind,12283.0,Ind,3382.0
3,AL,1001,Autauga,23909,Dem,6354,GOP,17366,Ind,31.0,Ind,136.0,Ind,22.0
4,AL,1003,Baldwin,84988,Dem,18329,GOP,65772,Ind,122.0,Ind,597.0,Ind,168.0

In [21]:
# view by state
guardian_full[(guardian_full['State Postal'] == 'DC')]

,State Postal,FIPS Code,County Name,TOTAL VOTES CAST,Party,Votes,Party.1,Votes.1,Party.2,Votes.2,Party.3,Votes.3,Party.4,Votes.4
456,DC,0,District of Columbia,243348,Dem,222332,GOP,17337,Lib,1634.0,DCG,2045.0,NaN,NaN
457,DC,11001,District of Columbia,243348,Dem,222332,GOP,17337,Lib,1634.0,DCG,2045.0,NaN,NaN

In [22]:
# return results for only D & R
def dem_func(x):
    if x['Party'] == 'Dem':
        return x['Votes']
    elif x['Party.1'] == 'Dem':
        return x['Votes.1']
    elif x['Party.2'] == 'Dem':
        return x['Votes.2']
    elif x['Party.3'] == 'Dem':
        return x['Votes.3']
    elif x['Party.4'] == 'Dem':
        return x['Votes.4']

def gop_func(x):
    if x['Party'] == 'GOP':
        return x['Votes']
    elif x['Party.1'] == 'GOP':
        return x['Votes.1']
    elif x['Party.2'] == 'GOP':
        return x['Votes.2']
    elif x['Party.3'] == 'GOP':
        return x['Votes.3']
    elif x['Party.4'] == 'GOP':
        return x['Votes.4']

In [53]:
# get results for D & R only
guardian = guardian_full
guardian['votes_dem_2012'] = guardian.apply(lambda x: dem_func(x), axis=1)
guardian['votes_gop_2012'] = guardian.apply(lambda x: gop_func(x), axis=1)
# change data type for total votes
guardian['total_votes_2012'] = guardian['TOTAL VOTES CAST'].astype('float64')
# change fips header name
guardian = guardian.rename(columns={'FIPS Code':'combined_fips'})
# filter out state-level rows
guardian = guardian[guardian['combined_fips'] != '0']

guardian.head()

,State Postal,combined_fips,County Name,TOTAL VOTES CAST,Party,Votes,Party.1,Votes.1,Party.2,Votes.2,Party.3,Votes.3,Party.4,Votes.4,votes_dem_2012,votes_gop_2012,total_votes_2012
1,AK,2000,Alaska,220596,Dem,91696,GOP,121234,Lib,5539.0,Grn,2127.0,NaN,NaN,91696.0,121234.0,220596.0
3,AL,1001,Autauga,23909,Dem,6354,GOP,17366,Ind,31.0,Ind,136.0,Ind,22.0,6354.0,17366.0,23909.0
4,AL,1003,Baldwin,84988,Dem,18329,GOP,65772,Ind,122.0,Ind,597.0,Ind,168.0,18329.0,65772.0,84988.0
5,AL,1005,Barbour,11459,Dem,5873,GOP,5539,Ind,9.0,Ind,32.0,Ind,6.0,5873.0,5539.0,11459.0
6,AL,1007,Bibb,8391,Dem,2200,GOP,6131,Ind,13.0,Ind,38.0,Ind,9.0,2200.0,6131.0,8391.0

In [54]:
# drop irrelevant columns
guardian_clean = guardian.drop(labels=['TOTAL VOTES CAST','Votes','Votes.1','Votes.2','Votes.3','Votes.4','Party','Party.1','Party.2','Party.3','Party.4'],axis=1)
# format dataframe headers
guardian_clean.rename(columns={'State Postal':'state_abbr','County Name':'county_name','state_fips_a':'state_fips'},inplace=True)

guardian_clean[guardian_clean['state_abbr'] == 'ME']

,state_abbr,combined_fips,county_name,votes_dem_2012,votes_gop_2012,total_votes_2012
1706,ME,23021,Abbot,153.0,216.0,379.0
1707,ME,23031,Acton,688.0,625.0,1340.0
1708,ME,23029,Addison,273.0,299.0,585.0
1709,ME,23011,Albion,429.0,561.0,1022.0
1710,ME,23029,Alexander,131.0,153.0,288.0
1711,ME,23031,Alfred,964.0,739.0,1739.0
1712,ME,23003,Allagash,79.0,59.0,140.0
1713,ME,23015,Alna,271.0,182.0,467.0
1714,ME,23019,Alton,225.0,211.0,448.0
1715,ME,23009,Amherst,69.0,70.0,144.0
1716,ME,23003,Amity,35.0,56.0,94.0
1717,ME,23017,Andover,255.0,217.0,505.0
1718,ME,23025,Anson,543.0,512.0,1086.0
1719,ME,23013,Appleton,435.0,329.0,794.0
1720,ME,23003,Aroostook Cty Townships,182.0,185.0,386.0
1721,ME,23023,Arrowsic,220.0,92.0,321.0
1722,ME,23031,Arundel,1229.0,960.0,2248.0
1723,ME,23003,Ashland,327.0,232.0,564.0
1724,ME,23025,Athens,211.0,204.0,430.0
1725,ME,23021,Atkinson,73.0,103.0,179.0
1726,ME,23001,Auburn,6503.0,4462.0,11289.0
1727,ME,23011,Augusta,5192.0,3339.0,8780.0
1728,ME,23009,Aurora,18.0,42.0,64.0
1729,ME,23007,Avon,127.0,105.0,236.0
1730,ME,23029,Baileyville,354.0,230.0,623.0
1731,ME,23005,Baldwin,354.0,413.0,799.0
1732,ME,23003,Bancroft,11.0,20.0,31.0
1733,ME,23019,Bangor,8809.0,5905.0,15083.0
1734,ME,23009,Bar Harbor,2142.0,779.0,3009.0
1735,ME,23029,Baring Plt.,56.0,49.0,106.0
...,...,...,...,...,...,...
2175,ME,23029,Wesley,32.0,44.0,77.0
2176,ME,23023,West Bath,641.0,544.0,1211.0
2177,ME,23005,Westbrook,5504.0,3042.0,9668.0
2178,ME,23003,Westfield,117.0,146.0,269.0
2179,ME,23025,West Forks Plt.,25.0,21.0,47.0
2180,ME,23011,West Gardiner,1004.0,971.0,2033.0
2181,ME,23003,Westmanland,21.0,21.0,43.0
2182,ME,23003,Weston,50.0,81.0,131.0
2183,ME,23017,West Paris,470.0,353.0,860.0
2184,ME,23015,Westport,254.0,221.0,486.0
2185,ME,23015,Whitefield,693.0,531.0,1256.0
2186,ME,23029,Whiting,178.0,154.0,338.0
2187,ME,23029,Whitneyville,48.0,56.0,109.0
2188,ME,23021,Willimantic,32.0,48.0,81.0
2189,ME,23007,Wilton,1251.0,921.0,2241.0
2190,ME,23005,Windham,3817.0,3427.0,7429.0
2191,ME,23011,Windsor,610.0,578.0,1226.0
2192,ME,23019,Winn,66.0,112.0,178.0
2193,ME,23011,Winslow,2206.0,1781.0,4077.0
2194,ME,23009,Winter Harbor,112.0,145.0,274.0
2195,ME,23027,Winterport,1027.0,1018.0,2096.0
2196,ME,23003,Winterville Plt.,79.0,49.0,134.0
2197,ME,23011,Winthrop,1877.0,1496.0,3464.0
2198,ME,23015,Wiscasset,1036.0,960.0,2051.0
2199,ME,23003,Woodland,285.0,326.0,619.0
2200,ME,23017,Woodstock,351.0,344.0,714.0
2201,ME,23019,Woodville,62.0,61.0,125.0
2202,ME,23023,Woolwich,1028.0,842.0,1912.0
2203,ME,23005,Yarmouth,3358.0,2128.0,5573.0
2204,ME,23031,York,4888.0,3594.0,8569.0

In [56]:
# guardian reports many states at the town-levl (ME, for instance)
# roll up to the county_fips level
county_level_pivot = pd.pivot_table(guardian_clean,index=["combined_fips"],values=["votes_dem_2012","votes_gop_2012","total_votes_2012"],aggfunc=np.sum)
county_level_2012 =  county_level_pivot.reset_index()
county_level_2012[county_level_2012['combined_fips'] == '23007']

    combined_fips  total_votes_2012  votes_dem_2012  votes_gop_2012
931         23007           16112.0          9292.0          6305.0

In [59]:
# guardian data combines state- and county-level fips codes into one code
# extract correct county fips codes
county_level_2012['county_fips'] = county_level_2012['combined_fips'].str.extract('(.{3})\s*$',expand=False)
# extract correct state fips codes
# guardian['state_fips'] = ''

state_fips = []
for i,r in county_level_2012['combined_fips'].iteritems():
    if len(r) > 4:
        state_fips.append(r[0:2])
    else:
        state_fips.append('0' + r[0:1])

county_level_2012['state_fips'] = pd.Series(state_fips)

county_level_2012[county_level_2012['combined_fips'] == '23007']

,combined_fips,total_votes_2012,votes_dem_2012,votes_gop_2012,county_fips,state_fips
931,23007,16112.0,9292.0,6305.0,007,23

In [60]:
# add percentages for each R and D of total votes
# calculate percentage of total vote per major candidates
county_level_2012['per_dem_2012'] = county_level_2012['votes_dem_2012'] / county_level_2012['total_votes_2012']
county_level_2012['per_gop_2012'] = county_level_2012['votes_gop_2012'] / county_level_2012['total_votes_2012']
county_level_2012['diff_2012'] = abs(county_level_2012['votes_gop_2012'] - county_level_2012['votes_dem_2012']).map('{:,.0f}'.format)
county_level_2012['per_point_diff_2012'] = abs(county_level_2012['per_dem_2012'] - county_level_2012['per_gop_2012']).map('{:,.2%}'.format)
# view per fips code
county_level_2012[county_level_2012['combined_fips'] == '23007']

,combined_fips,total_votes_2012,votes_dem_2012,votes_gop_2012,county_fips,state_fips,per_dem_2012,per_gop_2012,diff_2012,per_point_diff_2012
931,23007,16112.0,9292.0,6305.0,007,23,0.576713,0.391323,"2,987",18.54%

## Townhall data

In [62]:
# each page has a summary table that rolls up results at the state level
# get rid of it
def cond(x):
    if x:
        return x.startswith("table ec-table") and not "table ec-table ec-table-summary" in x
    else:
        return False

In [63]:
# list of state abbreviations
states = ['AL','AK','AZ','AR','CA','CO','CT','DC','DE','FL','GA','HI','ID','IL','IN','IA','KS','KY','LA','ME','MD','MA','MI','MN','MS','MO','MT','NE','NV','NH','NJ','NM','NY','NC','ND','OH','OK','OR','PA','RI','SC','SD','TN','TX','UT','VT','VA','WA','WV','WI','WY']

# headers for csv export
data = [['state_abbr', 'county_name', 'party', 'votes_total_2016']]

In [64]:
# loop through each state's web page http://townhall.com/election/2016/president/%s/county, where %s is the state abbr
for state in states:
    r = urllib.request.urlopen('http://townhall.com/election/2016/president/' + state + '/county').read()
    soup = BeautifulSoup(r, "html.parser")

    # loop through each <table> tag with .ec-table class
    tables = soup.findAll('table', attrs={'class':cond})

    for table in tables:
        if table.findParent("table") is None:
            table_body = table.find('tbody')

            rows = table_body.find_all('tr')
            for row in rows:
                cols = row.find_all('td')
                # first tbody tr has four td
                if len(cols) == 4:
                    # strip text from each td
                    divs = cols[0].find_all('div')
                    county = divs[0].text.strip()
                    party = cols[1]['class'][0]
                    total_votes_2016 = int(cols[2].text.strip().replace(',','').replace('-','0'))
                # all other tbody tr have three td
                else:
                    party = cols[1]['class'][0]
                    total_votes_2016 = int(cols[1].text.strip().replace(',','').replace('-','0'))
                    
                #combine each row's results
                rowData = [state,county,party,total_votes_2016]
                data.append(rowData)

In [65]:
townhall = pd.DataFrame(data) # throw results in dataframe
new_header = townhall.iloc[0] #grab the first row for the header
townhall = townhall[1:] #take the data less the header row
townhall.columns = new_header #set the header row as the df header
townhall['votes_total_2016'] = townhall['votes_total_2016'].astype('float64')
print(townhall.shape[0])
townhall.head()

14188

0 state_abbr county_name party  votes_total_2016
1         AL     Autauga   GOP           18110.0
2         AL     Autauga   DEM            5908.0
3         AL     Autauga   IND             538.0
4         AL     Autauga   IND             105.0
5         AL     Baldwin   GOP           72780.0

In [66]:
# view by state
townhall[(townhall['state_abbr'] == 'AK')]

0   state_abbr county_name party  votes_total_2016
269         AK      Alaska   GOP          130415.0
270         AK      Alaska   DEM           93007.0
271         AK      Alaska   LIB           14593.0
272         AK      Alaska   GRN            4445.0
273         AK      Alaska   OTH            4128.0

In [67]:
# view special cases
print(townhall[(townhall['state_abbr'] == 'NV') & (townhall['county_name'] == 'Carson City')])

0    state_abbr  county_name party  votes_total_2016
7943         NV  Carson City   GOP           13125.0
7944         NV  Carson City   DEM            9610.0
7945         NV  Carson City   LIB            1159.0
7946         NV  Carson City   OTH            1122.0

In [68]:
# fix townhall county name for Washington DC, Sainte Genevieve, MO, Oglala, SD
townhall.loc[townhall['state_abbr'] =='DC', 'county_name'] = 'District of Columbia'
townhall.loc[townhall['county_name'] == 'Sainte Genevieve', 'county_name'] = 'Ste. Genevieve County'
townhall.loc[townhall['county_name'] == 'Oglala Lakota', 'county_name'] = 'Oglala'
print(townhall[(townhall['county_name'] == 'District of Columbia') | (townhall['county_name'] == 'Ste. Genevieve County') | (townhall['county_name'] == 'Oglala')])

0     state_abbr            county_name party  votes_total_2016
1415          DC   District of Columbia   DEM          260223.0
1416          DC   District of Columbia   GOP           11553.0
1417          DC   District of Columbia   LIB            4501.0
1418          DC   District of Columbia   DCG            3995.0
7227          MO  Ste. Genevieve County   GOP            5495.0
7228          MO  Ste. Genevieve County   DEM            2540.0
7229          MO  Ste. Genevieve County   LIB             323.0
7230          MO  Ste. Genevieve County   GRN              55.0
7231          MO  Ste. Genevieve County   OTH              46.0
10780         SD                 Oglala   DEM            2504.0
10781         SD                 Oglala   GOP             241.0
10782         SD                 Oglala   LIB             104.0
10783         SD                 Oglala   OTH              47.0

In [69]:
# change 'Co.' to 'County' in county_name to match census county name
townhall['county_name'] = townhall['county_name'].apply(lambda x: x.replace('Co.','County').strip())
print(townhall[(townhall['state_abbr'] == 'NV') & (townhall['county_name'] == 'Carson City')])

0    state_abbr  county_name party  votes_total_2016
7943         NV  Carson City   GOP           13125.0
7944         NV  Carson City   DEM            9610.0
7945         NV  Carson City   LIB            1159.0
7946         NV  Carson City   OTH            1122.0

In [70]:
# combine state and county names
townhall['combined'] = townhall['state_abbr'] + townhall['county_name'].apply(lambda x: x.replace(' ','').lower())
print(townhall[(townhall['state_abbr'] == 'NV') & (townhall['county_name'] == 'Carson City')])

0    state_abbr  county_name party  votes_total_2016      combined
7943         NV  Carson City   GOP           13125.0  NVcarsoncity
7944         NV  Carson City   DEM            9610.0  NVcarsoncity
7945         NV  Carson City   LIB            1159.0  NVcarsoncity
7946         NV  Carson City   OTH            1122.0  NVcarsoncity

## Census data

In [71]:
# county_fips data from https://www.census.gov/geo/reference/codes/cou.html
census = pd.read_csv('http://www2.census.gov/geo/docs/reference/codes/files/national_county.txt',sep=',',header=None, dtype=str)
census.columns = ['state_abbr', 'state_fips', 'county_fips', 'county_name', 'fips_class_code']
print(census.shape)
census.head()

(3235, 5)

  state_abbr state_fips county_fips     county_name fips_class_code
0         AL         01         001  Autauga County              H1
1         AL         01         003  Baldwin County              H1
2         AL         01         005  Barbour County              H1
3         AL         01         007     Bibb County              H1
4         AL         01         009   Blount County              H1

In [72]:
# view by state
ak_counties = census[(census['state_abbr'] == 'AK')].shape[0]
print(ak_counties)

29

In [73]:
# veiw special cases
print(census[(census['state_abbr'] == 'NV') & (census['county_name'] == 'Carson City')])

     state_abbr state_fips county_fips  county_name fips_class_code
1763         NV         32         510  Carson City              C7

In [74]:
# change Shannon County, SD to Oglala County, SD
# http://rapidcityjournal.com/news/local/it-s-official-oglala-lakota-county-replaces-shannon-county-name/article_ac5c2369-3fea-5f94-9898-b007b7ddf22c.html
# townhall.loc[townhall['county_name'] == 'Sainte Genevieve', 'county_name'] = 'Ste. Genevieve County'
census.loc[(census['county_name'] == 'Shannon County') & (census['state_abbr'] == 'SD'), 'county_name'] = 'Oglala County'
census[(census['state_abbr'] == 'SD')]

     state_abbr state_fips county_fips         county_name fips_class_code
2362         SD         46         003       Aurora County              H1
2363         SD         46         005       Beadle County              H1
2364         SD         46         007      Bennett County              H1
2365         SD         46         009    Bon Homme County              H1
2366         SD         46         011    Brookings County              H1
2367         SD         46         013        Brown County              H1
2368         SD         46         015        Brule County              H1
2369         SD         46         017      Buffalo County              H1
2370         SD         46         019        Butte County              H1
2371         SD         46         021     Campbell County              H1
2372         SD         46         023  Charles Mix County              H1
2373         SD         46         025        Clark County              H1
2374         SD         46         027         Clay County              H1
2375         SD         46         029    Codington County              H1
2376         SD         46         031       Corson County              H1
2377         SD         46         033       Custer County              H1
2378         SD         46         035      Davison County              H1
2379         SD         46         037          Day County              H1
2380         SD         46         039        Deuel County              H1
2381         SD         46         041        Dewey County              H1
2382         SD         46         043      Douglas County              H1
2383         SD         46         045      Edmunds County              H1
2384         SD         46         047   Fall River County              H1
2385         SD         46         049        Faulk County              H1
2386         SD         46         051        Grant County              H1
2387         SD         46         053      Gregory County              H1
2388         SD         46         055       Haakon County              H1
2389         SD         46         057       Hamlin County              H1
2390         SD         46         059         Hand County              H1
2391         SD         46         061       Hanson County              H1
...         ...        ...         ...                 ...             ...
2398         SD         46         075        Jones County              H1
2399         SD         46         077    Kingsbury County              H1
2400         SD         46         079         Lake County              H1
2401         SD         46         081     Lawrence County              H1
2402         SD         46         083      Lincoln County              H1
2403         SD         46         085        Lyman County              H1
2404         SD         46         087       McCook County              H1
2405         SD         46         089    McPherson County              H1
2406         SD         46         091     Marshall County              H1
2407         SD         46         093        Meade County              H1
2408         SD         46         095     Mellette County              H1
2409         SD         46         097        Miner County              H1
2410         SD         46         099    Minnehaha County              H1
2411         SD         46         101        Moody County              H1
2412         SD         46         103   Pennington County              H1
2413         SD         46         105      Perkins County              H1
2414         SD         46         107       Potter County              H1
2415         SD         46         109      Roberts County              H1
2416         SD         46         111      Sanborn County              H1
2417         SD         46         113       Oglala County              H1
2418         SD         46         115        Spink County              H1
2419         SD         46         117      Stanley County              H1
2420         SD         46         119        Sully County              H1
2421         SD         46         121         Todd County              H1
2422         SD         46         123        Tripp County              H1
2423         SD         46         125       Turner County              H1
2424         SD         46         127        Union County              H1
2425         SD         46         129     Walworth County              H1
2426         SD         46         135      Yankton County              H1
2427         SD         46         137      Ziebach County              H1

[66 rows x 5 columns]

In [75]:
# state of Alaska reports results at the precinct and state level; no county level data available
# report results as the states level; 
# ugly fix to get townhall results and census counties to work together
# future plan: roll up precinct-level results to the county level
census.loc[(census['state_abbr'] == 'AK'),'county_name'] = 'Alaska'

In [76]:
# change county_name values in townhall data to match 'county_name' values for C7 fips class code cities
# get and transform C7 city names
cities = (census['state_abbr'][(census['fips_class_code'] == 'C7')] + census['county_name'][(census['fips_class_code'] == 'C7')].apply(lambda x: x.replace('city','').replace(' ','').lower()))
cities

1216          MDbaltimore
1597           MOst.louis
1763         NVcarsoncity
2915         VAalexandria
2916            VAbedford
2917            VAbristol
2918         VAbuenavista
2919    VAcharlottesville
2920         VAchesapeake
2921    VAcolonialheights
2922          VAcovington
2923           VAdanville
2924            VAemporia
2925            VAfairfax
2926        VAfallschurch
2927           VAfranklin
2928     VAfredericksburg
2929              VAgalax
2930            VAhampton
2931       VAharrisonburg
2932           VAhopewell
2933          VAlexington
2934          VAlynchburg
2935           VAmanassas
2936       VAmanassaspark
2937       VAmartinsville
2938        VAnewportnews
2939            VAnorfolk
2940             VAnorton
2941         VApetersburg
2942           VApoquoson
2943         VAportsmouth
2944            VAradford
2945           VArichmond
2946            VAroanoke
2947              VAsalem
2948           VAstaunton
2949            VAsuffolk
2950      VAvirginiabeach
2951         VAwaynesboro
2952       VAwilliamsburg
2953         VAwinchester
dtype: object

In [77]:
# loop through 'combined' column and compare to cities series to add 'city' to H1 fips class code to townhall data
for i, row in cities.iteritems():
    if row != 'NVcarsoncity':
        townhall.loc[townhall['combined'] == row, 'combined'] = row + 'city'
    
print(townhall[(townhall['combined'] == 'NVcarsoncity')])

0    state_abbr  county_name party  votes_total_2016      combined
7943         NV  Carson City   GOP           13125.0  NVcarsoncity
7944         NV  Carson City   DEM            9610.0  NVcarsoncity
7945         NV  Carson City   LIB            1159.0  NVcarsoncity
7946         NV  Carson City   OTH            1122.0  NVcarsoncity

In [78]:
# remove 'county' from 'combined' column of C7 fips class code counties in townhall
townhall['combined'] = townhall['combined'].str.replace('county','')
print(townhall[(townhall['county_name'] == 'Oglala')])

0     state_abbr county_name party  votes_total_2016  combined
10780         SD      Oglala   DEM            2504.0  SDoglala
10781         SD      Oglala   GOP             241.0  SDoglala
10782         SD      Oglala   LIB             104.0  SDoglala
10783         SD      Oglala   OTH              47.0  SDoglala

In [79]:
census['combined'] = census['state_abbr'] + census['county_name'].apply(lambda x: x.replace('County','').replace('Parish','').replace(' ','').lower())
print(census[(census['state_abbr'] == 'NV') & (census['county_name'] == 'Carson City')])
# print(census[(census['state_abbr'] == 'VA') & (census['county_name'] == 'Bedford County')])

     state_abbr state_fips county_fips  county_name fips_class_code  \
1763         NV         32         510  Carson City              C7

          combined
1763  NVcarsoncity

In [80]:
# return sum of votes by state and county
townhall['total_votes_2016'] = townhall['votes_total_2016'].groupby(townhall['combined']).transform('sum')
townhall_counties = townhall.drop('votes_total_2016',axis=1)

# view dataset by selected state
print(townhall_counties[(townhall_counties['state_abbr'] == 'NV') & (townhall_counties['county_name'] == 'Carson City')])

0    state_abbr  county_name party      combined  total_votes_2016
7943         NV  Carson City   GOP  NVcarsoncity           25016.0
7944         NV  Carson City   DEM  NVcarsoncity           25016.0
7945         NV  Carson City   LIB  NVcarsoncity           25016.0
7946         NV  Carson City   OTH  NVcarsoncity           25016.0

## Combine data

In [81]:
# join census and townhall data on the 'combined' column
right = townhall.set_index('combined')
left = census.set_index('combined')

combined = left.join(right, lsuffix='', rsuffix='_r')
combined = combined.reset_index()
print('Joined dataset has ' + str(combined.shape[0]) + ' items')

# view data by selected state
combined[(combined['state_abbr'] == 'NV') & (combined['fips_class_code'] == 'C7')]

Joined dataset has 14422 items

,combined,state_abbr,state_fips,county_fips,county_name,fips_class_code,state_abbr_r,county_name_r,party,votes_total_2016,total_votes_2016
8968,NVcarsoncity,NV,32,510,Carson City,C7,NV,Carson City,GOP,13125.0,25016.0
8969,NVcarsoncity,NV,32,510,Carson City,C7,NV,Carson City,DEM,9610.0,25016.0
8970,NVcarsoncity,NV,32,510,Carson City,C7,NV,Carson City,LIB,1159.0,25016.0
8971,NVcarsoncity,NV,32,510,Carson City,C7,NV,Carson City,OTH,1122.0,25016.0

In [82]:
# scale Alaska by number of counties
combined.loc[(combined['state_abbr'] == 'AK'),'votes_total_2016'] = (combined['votes_total_2016'][combined['state_abbr'] == 'AK']/ak_counties).astype(int)
combined[combined['state_abbr'] == 'AK']

,combined,state_abbr,state_fips,county_fips,county_name,fips_class_code,state_abbr_r,county_name_r,party,votes_total_2016,total_votes_2016
0,AKalaska,AK,02,013,Alaska,H1,AK,Alaska,GOP,4497.0,246588.0
1,AKalaska,AK,02,013,Alaska,H1,AK,Alaska,DEM,3207.0,246588.0
2,AKalaska,AK,02,013,Alaska,H1,AK,Alaska,LIB,503.0,246588.0
3,AKalaska,AK,02,013,Alaska,H1,AK,Alaska,GRN,153.0,246588.0
4,AKalaska,AK,02,013,Alaska,H1,AK,Alaska,OTH,142.0,246588.0
5,AKalaska,AK,02,016,Alaska,H5,AK,Alaska,GOP,4497.0,246588.0
6,AKalaska,AK,02,016,Alaska,H5,AK,Alaska,DEM,3207.0,246588.0
7,AKalaska,AK,02,016,Alaska,H5,AK,Alaska,LIB,503.0,246588.0
8,AKalaska,AK,02,016,Alaska,H5,AK,Alaska,GRN,153.0,246588.0
9,AKalaska,AK,02,016,Alaska,H5,AK,Alaska,OTH,142.0,246588.0
10,AKalaska,AK,02,020,Alaska,H6,AK,Alaska,GOP,4497.0,246588.0
11,AKalaska,AK,02,020,Alaska,H6,AK,Alaska,DEM,3207.0,246588.0
12,AKalaska,AK,02,020,Alaska,H6,AK,Alaska,LIB,503.0,246588.0
13,AKalaska,AK,02,020,Alaska,H6,AK,Alaska,GRN,153.0,246588.0
14,AKalaska,AK,02,020,Alaska,H6,AK,Alaska,OTH,142.0,246588.0
15,AKalaska,AK,02,050,Alaska,H5,AK,Alaska,GOP,4497.0,246588.0
16,AKalaska,AK,02,050,Alaska,H5,AK,Alaska,DEM,3207.0,246588.0
17,AKalaska,AK,02,050,Alaska,H5,AK,Alaska,LIB,503.0,246588.0
18,AKalaska,AK,02,050,Alaska,H5,AK,Alaska,GRN,153.0,246588.0
19,AKalaska,AK,02,050,Alaska,H5,AK,Alaska,OTH,142.0,246588.0
20,AKalaska,AK,02,060,Alaska,H1,AK,Alaska,GOP,4497.0,246588.0
21,AKalaska,AK,02,060,Alaska,H1,AK,Alaska,DEM,3207.0,246588.0
22,AKalaska,AK,02,060,Alaska,H1,AK,Alaska,LIB,503.0,246588.0
23,AKalaska,AK,02,060,Alaska,H1,AK,Alaska,GRN,153.0,246588.0
24,AKalaska,AK,02,060,Alaska,H1,AK,Alaska,OTH,142.0,246588.0
25,AKalaska,AK,02,068,Alaska,H1,AK,Alaska,GOP,4497.0,246588.0
26,AKalaska,AK,02,068,Alaska,H1,AK,Alaska,DEM,3207.0,246588.0
27,AKalaska,AK,02,068,Alaska,H1,AK,Alaska,LIB,503.0,246588.0
28,AKalaska,AK,02,068,Alaska,H1,AK,Alaska,GRN,153.0,246588.0
29,AKalaska,AK,02,068,Alaska,H1,AK,Alaska,OTH,142.0,246588.0
...,...,...,...,...,...,...,...,...,...,...,...
115,AKalaska,AK,02,240,Alaska,H5,AK,Alaska,GOP,4497.0,246588.0
116,AKalaska,AK,02,240,Alaska,H5,AK,Alaska,DEM,3207.0,246588.0
117,AKalaska,AK,02,240,Alaska,H5,AK,Alaska,LIB,503.0,246588.0
118,AKalaska,AK,02,240,Alaska,H5,AK,Alaska,GRN,153.0,246588.0
119,AKalaska,AK,02,240,Alaska,H5,AK,Alaska,OTH,142.0,246588.0
120,AKalaska,AK,02,261,Alaska,H5,AK,Alaska,GOP,4497.0,246588.0
121,AKalaska,AK,02,261,Alaska,H5,AK,Alaska,DEM,3207.0,246588.0
122,AKalaska,AK,02,261,Alaska,H5,AK,Alaska,LIB,503.0,246588.0
123,AKalaska,AK,02,261,Alaska,H5,AK,Alaska,GRN,153.0,246588.0
124,AKalaska,AK,02,261,Alaska,H5,AK,Alaska,OTH,142.0,246588.0
125,AKalaska,AK,02,270,Alaska,H5,AK,Alaska,GOP,4497.0,246588.0
126,AKalaska,AK,02,270,Alaska,H5,AK,Alaska,DEM,3207.0,246588.0
127,AKalaska,AK,02,270,Alaska,H5,AK,Alaska,LIB,503.0,246588.0
128,AKalaska,AK,02,270,Alaska,H5,AK,Alaska,GRN,153.0,246588.0
129,AKalaska,AK,02,270,Alaska,H5,AK,Alaska,OTH,142.0,246588.0
130,AKalaska,AK,02,275,Alaska,H1,AK,Alaska,GOP,4497.0,246588.0
131,AKalaska,AK,02,275,Alaska,H1,AK,Alaska,DEM,3207.0,246588.0
132,AKalaska,AK,02,275,Alaska,H1,AK,Alaska,LIB,503.0,246588.0
133,AKalaska,AK,02,275,Alaska,H1,AK,Alaska,GRN,153.0,246588.0
134,AKalaska,AK,02,275,Alaska,H1,AK,Alaska,OTH,142.0,246588.0
135,AKalaska,AK,02,282,Alaska,H1,AK,Alaska,GOP,4497.0,246588.0
136,AKalaska,AK,02,282,Alaska,H1,AK,Alaska,DEM,3207.0,246588.0
137,AKalaska,AK,02,282,Alaska,H1,AK,Alaska,LIB,503.0,246588.0
138,AKalaska,AK,02,282,Alaska,H1,AK,Alaska,GRN,153.0,246588.0
139,AKalaska,AK,02,282,Alaska,H1,AK,Alaska,OTH,142.0,246588.0
140,AKalaska,AK,02,290,Alaska,H5,AK,Alaska,GOP,4497.0,246588.0
141,AKalaska,AK,02,290,Alaska,H5,AK,Alaska,DEM,3207.0,246588.0
142,AKalaska,AK,02,290,Alaska,H5,AK,Alaska,LIB,503.0,246588.0
143,AKalaska,AK,02,290,Alaska,H5,AK,Alaska,GRN,153.0,246588.0
144,AKalaska,AK,02,290,Alaska,H5,AK,Alaska,OTH,142.0,246588.0

In [83]:
# return unique dataset
county_level_combined = combined.drop_duplicates()
print('Combined dataset has ' + str(county_level_combined.shape[0]) + ' total items')
                                                   
# return only D and R results
county_level_combined = county_level_combined[(county_level_combined['party'] == 'GOP') | (county_level_combined['party'] == 'DEM')]
print('Filtered dataset has ' + str(county_level_combined.shape[0]) + ' D and R items')

# flatten dataset by adding votes by R and D columns
county_level_combined['votes_dem_2016'] = county_level_combined['votes_total_2016'].where(county_level_combined['party'] == 'DEM',0).astype('float64')
county_level_combined['votes_gop_2016'] = county_level_combined['votes_total_2016'].where(county_level_combined['party'] == 'GOP',0).astype('float64')

# drop party and party-level totals and other columns
county_level_combined.drop(['party','votes_total_2016','state_abbr_r','county_name_r'], axis=1, inplace=True)
county_level_combined[(county_level_combined['state_abbr'] == 'NV') & (county_level_combined['fips_class_code'] == 'C7')]

Combined dataset has 14421 total items
Filtered dataset has 6282 D and R items

,combined,state_abbr,state_fips,county_fips,county_name,fips_class_code,total_votes_2016,votes_dem_2016,votes_gop_2016
8968,NVcarsoncity,NV,32,510,Carson City,C7,25016.0,0.0,13125.0
8969,NVcarsoncity,NV,32,510,Carson City,C7,25016.0,9610.0,0.0

In [84]:
# pivot data to consolidate
party_pivot = pd.pivot_table(county_level_combined,index=["combined"],values=["votes_gop_2016","votes_dem_2016"],aggfunc=np.sum)
total_pivot = pd.pivot_table(county_level_combined,index=["combined"],values=["total_votes_2016"],aggfunc=np.mean)

# join party and total pivots
combined_pivot = party_pivot.join(total_pivot, lsuffix='', rsuffix='_r')
print('Joined dataset has ' + str(combined_pivot.shape[0]) + ' items')
combined_pivot

# add percentages for each R and D of total votes
# calculate percentage of total vote per major candidates
combined_pivot['per_dem_2016'] = combined_pivot['votes_dem_2016'] / combined_pivot['total_votes_2016']
combined_pivot['per_gop_2016'] = combined_pivot['votes_gop_2016'] / combined_pivot['total_votes_2016']
combined_pivot['diff_2016'] = abs(combined_pivot['votes_gop_2016'] - combined_pivot['votes_dem_2016']).map('{:,.0f}'.format)
combined_pivot['per_point_diff_2016'] = abs(combined_pivot['per_dem_2016'] - combined_pivot['per_gop_2016']).map('{:,.2%}'.format)

combined_pivot

# join pivotted and unpivotted data
right = census.set_index('combined')
# left = combined_pivot.set_index('combined')

county_level_2016 = combined_pivot.join(right, lsuffix='', rsuffix='_r')
county_level_2016 = county_level_2016.reset_index()
print('Joined dataset has ' + str(county_level_2016.shape[0]) + ' items')
county_level_2016

# create FIPS columns for visualizations
county_level_2016['combined_fips'] = county_level_2016['state_fips'].apply(lambda x: x.lstrip('0')) + county_level_2016['county_fips'].astype('str')
county_level_2016

# drop irrelevant columns
county_level_2016 = county_level_2016.drop(['combined','county_fips','state_fips','fips_class_code'], axis=1)
print('2016 dataset has ' + str(county_level_2016.shape[0]) + ' items')
county_level_2016

# view data by selected state
county_level_2016[county_level_2016['state_abbr'] == 'DC']

Joined dataset has 3113 items
Joined dataset has 3141 items
2016 dataset has 3141 items

,votes_dem_2016,votes_gop_2016,total_votes_2016,per_dem_2016,per_gop_2016,diff_2016,per_point_diff_2016,state_abbr,county_name,combined_fips
316,260223.0,11553.0,280272.0,0.928466,0.041221,"248,670",88.72%,DC,District of Columbia,11001

In [85]:
# join 2012 and 2016 data
left = county_level_2016.set_index('combined_fips')
right = county_level_2012.set_index('combined_fips')

county_level_final = left.join(right, lsuffix='', rsuffix='_r')
county_level_final = county_level_final.reset_index()
print('Final dataset has ' + str(county_level_final.shape[0]) + ' items')

# view by state
county_level_final[county_level_final['state_abbr'] == 'DC']

Final dataset has 3141 items

,combined_fips,votes_dem_2016,votes_gop_2016,total_votes_2016,per_dem_2016,per_gop_2016,diff_2016,per_point_diff_2016,state_abbr,county_name,total_votes_2012,votes_dem_2012,votes_gop_2012,county_fips,state_fips,per_dem_2012,per_gop_2012,diff_2012,per_point_diff_2012
316,11001,260223.0,11553.0,280272.0,0.928466,0.041221,"248,670",88.72%,DC,District of Columbia,243348.0,222332.0,17337.0,001,11,0.913638,0.071244,"204,995",84.24%

In [86]:
# gut checks
# view number of non-unique fips codes
a = dict(Counter(county_level_final['combined_fips']))
county_level_final[county_level_final['combined_fips'] == '23007']

,combined_fips,votes_dem_2016,votes_gop_2016,total_votes_2016,per_dem_2016,per_gop_2016,diff_2016,per_point_diff_2016,state_abbr,county_name,total_votes_2012,votes_dem_2012,votes_gop_2012,county_fips,state_fips,per_dem_2012,per_gop_2012,diff_2012,per_point_diff_2012
1217,23007,7001.0,7900.0,16382.0,0.427359,0.482237,899,5.49%,ME,Franklin County,16112.0,9292.0,6305.0,007,23,0.576713,0.391323,"2,987",18.54%

## Export data

In [87]:
county_level_final.to_csv('US_County_Level_Presidential_Results_12-16.csv',sep=',')